<div id="contacto"
  class="footer-container container-fluid d-flex flex-column justify-content-around align-items-center">

  <div class="targeta-contacto p-5 d-flex flex-column text-center">
    <h2 class="m-0">Contacto</h2>
    <hr class="linea-subtitulo">
    <p>Si te interesa trabajar o simplemente quieres saludar sientete libre de enviarme un mensaje.</p>
    <a class="btn-contacto align-self-center"
      href="mailto:francohuanaco@gmail.com?Subject=Hey!%20me%20gustaría%20conversar%20contigo">Enviar
      mensaje</a>
  </div>

  <div class="d-flex flex-column footer-redes">
    <p class="text-center">Encuentrame en:</p>
    <div class="d-flex justify-content-around">

      <a href="#" target="_blank" rel="noopener noreferrer" class="d-flex flex-column-reverse">
        <img class="" src="assets/img/github.png" alt="">
      </a>

      <a href="#" target="_blank" rel="noopener noreferrer" class="d-flex flex-column-reverse">
        <img class="footer-imagen" src="assets/img/twitter.png" alt="">
      </a>

      <a href="#" target="_blank" rel="noopener noreferrer" class="d-flex flex-column-reverse">
        <img class="" src="assets/img/linkedin.png" alt="">
      </a>

    </div>
  </div>
</div>
<div class="footer-copy">
  <p class="text-center m-0">&copy; Franco Huanaco 2020</p>
</div>