<nav class="navbar navbar-dark navbar-expand-sm fixed-top custom-navbar">
	<div class="container p-0">
		<a href="#hero" class="navbar-brand">
			FH
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="navbar-nav text-center d-flex justify-content-end w-100 ">
				<a href="#portafolio" (click)="ocultarNavbar()" class="nav-item nav-link js-scroll-trigger">Portafolio</a>
				<a href="#about" (click)="ocultarNavbar()" class="nav-item nav-link js-scroll-trigger">Sobre Mi</a>
				<a href="#contacto" (click)="ocultarNavbar()" class="nav-item nav-link js-scroll-trigger">Contacto</a>
			</div>
		</div>
	</div>
</nav>
<!-- <script type="text/javascript">
	$('.js-scroll-trigger').click(function () {
		$('.navbar-collapse').collapse('hide');
	});
</script> -->