<nav class="navbar navbar-expand-lg custom-navbar w-100 px-5">
	<a class="navbar-brand" href="#">Fh</a>
	<button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse" data-target="#navbarNav"
		aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav d-flex justify-content-end w-100">
			<li class="nav-item active">
				<a class="nav-link custom-link" href="#">Portafolio<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link custom-link" href="#">Sobre Mi</a>
			</li>
			<li class="nav-item">
				<a class="nav-link custom-link" href="#">Contacto</a>
			</li>
		</ul>
	</div>
</nav>