<div class="hero-section" id="hero">
  <div class="container h-100 d-flex flex-column justify-content-center align-items-md-start">
    <div class="row">
      <ngx-typed-js [strings]=" ['desarrollar', 'diseñar', 'programar' ]" [typeSpeed]=200 [loop]=true [backSpeed]=100>
        <h1 class="hero-text text-center text-md-left">¡Hola! Soy Franco Huanaco <br> puedo <span class="typing"></span>
        </h1>
      </ngx-typed-js>
    </div>
    <div class="p-0 mt-5">
      <div class="row buttons-section d-flex flex-column align-content-center flex-md-row">
        <a href="#portafolio" class="custom-btn custom-btn-primary mr-md-5 my-2">Mis Proyectos</a>

        <a href="/assets/CV-Franco-Huanaco.pdf" target="_blank" class=" custom-btn custom-btn-secondary ml-md-5 my-2">Mi
          curriculum</a>
      </div>
    </div>
  </div>
</div>