<div class="container habilidades-container mt-5">
  <h2 class="text-center">Lo que puedo hacer</h2>
  <hr class="custom-line">
  <div class=" d-flex flex-column flex-md-row justify-content-center">
    <div class="habilidad-item text-center mt-5 px-3 px-md-5">
      <img src="/assets/img/design.png" alt="diseño" class="habilidad-img">
      <h2>UX / UI</h2>
      <p>Diseñar interfaces y experiencias de usuario agradables y funcionales</p>
    </div>
    <div class="habilidad-item text-center mt-5 px-3 px-md-5">
      <img src="/assets/img/web.png" alt="desarrollo" class="habilidad-img">
      <h2>Desarrollo</h2>
      <p>Desarrollo de aplicaciones web con estandares y tecnologías modernas</p>
    </div>
    <div class="habilidad-item text-center mt-5 px-3 px-md-5">
      <img src="/assets/img/improve.png" alt="mejora" class="habilidad-img">
      <h2>Mejora</h2>
      <p>Mejorar y escalar proyectos, proponiendo ideas y desarrollandolas </p>
    </div>
  </div>
</div>