<div class="tecnologias-container container text-center p-md-5">
	<h2>He trabajado con</h2>
	<hr class="linea-titulo">
	<div class="tecnologias-bloque my-5 d-md-flex align-items-md-center justify-content-md-start">
		<h3 class="col-md-4 text-md-left">Lenguajes</h3>
		<div class="d-flex flex-wrap justify-content-center col-md-8 justify-content-md-start">
			<img src="assets/img/tecnologias/html.png" alt="html">
			<img src="assets/img/tecnologias/css.png" alt="css">
			<img src="assets/img/tecnologias/php.png" alt="php">
			<img src="assets/img/tecnologias/typescript.png" alt="typescript">
			<img src="assets/img/tecnologias/sass.png" alt="sass">
			<img src="assets/img/tecnologias/js.png" alt="javascript">
		</div>
	</div>

	<div class="tecnologias-bloque my-5 d-md-flex align-items-md-center justify-content-md-start">
		<h3 class="col-md-4 text-md-left">Frameworks</h3>
		<div class="d-flex flex-wrap justify-content-center col-md-8 justify-content-md-start">
			<img src="assets/img/tecnologias/angular.png" alt="angular">
			<img src="assets/img/tecnologias/laravel.png" alt="laravel">
			<img src="assets/img/tecnologias/bootstrap.png" alt="bootstrap">
			<img src="assets/img/tecnologias/materialize.png" alt="materialize">
			<img src="assets/img/tecnologias/wordpress.png" alt="wordpress">
		</div>
	</div>

	<div class="tecnologias-bloque my-5 d-md-flex align-items-md-center justify-content-md-start">
		<h3 class="col-md-4 text-md-left">Bases de datos</h3>
		<div class="d-flex flex-wrap justify-content-center col-md-8 justify-content-md-start">
			<img src="assets/img/tecnologias/mysql.png" alt="mysql">
			<img src="assets/img/tecnologias/mongodb.png" alt="mongodb">
			<img src="assets/img/tecnologias/sqlserver.png" alt="sqlserver">
		</div>
	</div>

	<div class="tecnologias-bloque my-5 d-md-flex align-items-md-center justify-content-md-start">
		<h3 class="col-md-4 text-md-left">Herramientas de diseño </h3>
		<div class="d-flex flex-wrap justify-content-center col-md-8 justify-content-md-start">
			<img src="assets/img/tecnologias/figma.png" alt="figma">
			<img src="assets/img/tecnologias/illustrator.png" alt="illustrator">
			<img src="assets/img/tecnologias/photoshop.png" alt="photoshop">
		</div>
	</div>

	<div class="tecnologias-bloque my-5 d-md-flex align-items-md-center justify-content-md-start">
		<h3 class="col-md-4 text-md-left">Herramientas de desarrollo</h3>
		<div class="d-flex flex-wrap justify-content-center">
			<img src="assets/img/tecnologias/vscode.png" alt="vscode">
			<img src="assets/img/tecnologias/git.png" alt="git">
		</div>
	</div>

</div>