<div class="portfolio-item row py-5 p-md-5">
  <div class="d-flex flex-column flex-md-row justify-content-md-between">
    <div class="col-md-6 p-3 d-flex align-items-center">
      <img class="img-fluid" src={{proyecto.img}} alt="proyecto">
    </div>
    <div class="col-md-6 text-center text-md-left d-flex flex-column justify-content-center">
      <h3 class="portfolio-title">{{proyecto.titulo}}</h3>
      <p class="portfolio-text">{{proyecto.descripcion}}</p>
      <div class="portfolio-buttons d-flex justify-content-around justify-content-md-between">
        <a class="porfolio-button" href={{proyecto.proyecto}} target="_blank" *ngIf="proyecto.proyecto !== '' ">Ver
          proyecto</a>
        <a class="porfolio-button" href={{proyecto.codigo}} target="_blank" rel="noopener noreferrer"
          *ngIf="proyecto.codigo !== '' ">Ver código</a>
      </div>
    </div>
  </div>

</div>