.portfolio-item {
	color: #f2f2f2;
	background-color: #2f2f2f;
	border-radius: 5px;
}

.porfolio-button {
	padding: 0.5rem;
	/* margin: 1rem; */
	border-radius: 5px;
	border: 1px solid #f2f2f2;
	background-color: transparent;
	color: #f2f2f2;
	text-decoration: none;
}

.porfolio-button:hover {
	background-color: #f2f2f2;
	color: #2f2f2f;
	border: 1px solid #2f2f2f;
}
