<div class="container-fluid about-section p-5">
  <div class="row d-flex flex-md-column justify-content-center align-content-md-center">
    <div class="text-center about-text">
      <h2>Sobre Mi</h2>
      <hr class="custom-line mb-3">
      <p>
        Desarrollador web, con conocimientos y experiencia en Frontend y Backend, con mucha pasión y compromiso por mi
        trabajo. Capaz de diseñar y desarrollar sitios web con tendencias de desarrollo mordernas de manera rápida y
        eficiente.
      </p>
      <p>¡Descarga mi CV y conoceme un poco más!</p>
      <a class="about-button" href="#" target="_blank" rel="noopener noreferrer">Descargar</a>
    </div>
  </div>
</div>