<div class="portfolio-item row mt-5">
  <div class="d-flex flex-column flex-md-row justify-content-md-between">
    <div class="col-md-6 text-center text-md-left">
      <h3 class="portfolio-title">Capacidades.Org</h3>
      <p class="portfolio-text">Plataforma de educación online basada en el CMS Wordpress. Diseñada para el consumo
        masivo de cursos multimeda de diferente indole.</p>
      <button class="porfolio-button">
        Ver proyecto
      </button>
      <button class="porfolio-button">
        Ver código
      </button>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="./assets/img/capacidades.png" alt="">
    </div>
  </div>
</div>